{% extends 'layouts/main.html.twig' %}

{% block body %}
  <div class="row">
    <div class="previous col-md-2">
      <div class="row my-3">
        <div class="col-sm-4 col-md-4 text-center">
          <i class="far fa-circle player1"></i>
          <span>{% if results.1 is defined %}{{ results[1].1 }}{% else %}0{% endif %}</span>
        </div>
        <div class="col-sm-4 col-md-4 text-center">
          <i class="fa fa-times player2"></i>
          <span>{% if results.2 is defined %}{{ results[2].1 }}{% else %}0{% endif %}</span>
        </div>
        <div class="col-sm-4 col-md-4 text-center">
          <i class="fa fa-equals"></i>
          <span>{% if results.3 is defined %}{{ results[3].1 }}{% else %}0{% endif %}</span>
        </div>
      </div>
      {% if games|length > 1 %}
        <table class="table table-hovered table-striped">
          <thead>
            <tr>
              <td>{% trans %}date{% endtrans %}</td>
              <td class="text-center">{% trans %}result{% endtrans %}</td>
            </tr>
          </thead>
          <tbody>
            {% for game in games if game.result is not null %}
            <tr>
              <td>{{ game.created_at|date('Y-m-d H:i') }}</td>
              <td class="text-center">
                {% if game.result == 1 %}
                  <i class="far fa-circle player1"></i>
                {% elseif game.result == 2 %}
                  <i class="fa fa-times player2"></i>
                {% else %}
                  <i class="fa fa-equals"></i>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="col-md-12 text-center my-5">
        {% if game.mode == 'human' %}
          <div class="game-mode">
              <div class="icon">
                  <i class="fa fa-user fa-2x"></i>
                  <span>vs</span>
                  <i class="fa fa-user fa-2x"></i>
              </div>
          </div>
        {% endif %}
        {% if game.mode == 'machine' %}
          <div class="game-mode">
              <div class="icon">
                  <i class="fa fa-user fa-2x"></i>
                  <span>vs</span>
                  <i class="fa fa-laptop fa-2x"></i>
              </div>
          </div>
        {% endif %}
      </div>
      <div id="board_container">
        <div id="player1_info"
             class="player_info {{ game.turn == 1 ? 'turn' : '' }} {{ game.result == 1 ? 'winner' : '' }}">
          <i class="far fa-circle fa-2x player1"></i>
          <span>{% trans %}player1{% endtrans %}</span>
          <i class="fa fa-user fa-2x"></i>
        </div>
        <div class="board_wrapper">
          <table id="board"
                 data-game="{{ game.id }}"
                 data-turn="{{ game.turn }}"
                 data-result="{{ game.result }}"
                 data-player={{ game.mode == 'machine' ? 1 : 3 }}>
            {% for row in 3..1 %}
              <tr>
                {% for column in 3..1 %}
                  {% set index = (row - 1) * 3 + column %}
                  <td class="{{ bitboard[index].player }}" data-bitboard="{{ bitboard[index].bitboard }}"></td>
                {% endfor %}
              </tr>
            {% endfor %}
          </table>
          <svg id="line_win" class="{{ game.line }}" {{ game.line ?: 'hidden' }}>
            <line x1="0" y1="0" x2="100%" y2="100%"/>
          </svg>
        </div>
        <div id="player2_info"
             class="player_info {{ game.turn == 2 ? 'turn' : '' }} {{ game.result == 2 ? 'winner' : '' }}">
          <i class="fa fa-times fa-2x player2"></i>
          <span>{% trans %}player2{% endtrans %}</span>
          {% if game.mode == 'machine' %}
            <i class="fa fa-laptop fa-2x"></i>
          {% else %}
            <i class="fa fa-user fa-2x"></i>
          {% endif %}
        </div>
      </div>
      <div class="row col-md-12">
        <div id="buttons_game_end" class="col-md-12 text-center my-4" {{ game.result ? '' : 'hidden' }}>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-secondary" href="/">
              <i class="fa fa-home"></i>
              {% trans %}home{% endtrans %}
            </a>
            <a type="button"
               class="btn btn-secondary"
               href="/index.php/game/rematch/{{ game.id }}">
              <i class="fa fa-retweet"></i>
              {% trans %}rematch{% endtrans %}
            </a>
          </div>
        </div>
        <div id="alerts" class="col-md-12 my-3">
          <div id="player1_wins"
               class="alert alert-success" {{ game.result != 1 ? 'hidden' : '' }}>
            <i class="far fa-circle player1"></i>
            {% trans %}player1_wins{% endtrans %}
          </div>
          <div id="player2_wins"
               class="alert alert-danger" {{ game.result != 2 ? 'hidden' : '' }}>
            <i class="fa fa-times player2"></i>
            {% trans %}player2_wins{% endtrans %}
          </div>
          <div id="player3_wins"
               class="alert alert-warning" {{ game.result != 3 ? 'hidden' : '' }}>
            <i class="far fa-circle player1"></i>
            <i class="fa fa-times player2"></i>
          {% trans %}game_draw{% endtrans %}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
